.icon-search{
    margin:  auto 0.5rem;
    font-size: 20px;
    color:rgba(203, 23, 23, 1);
}

.input-Search{
    border-radius: .7rem;
    width: 17rem; height:1.9rem;
    padding:0 1rem;
    align-items: center;
    background-color:rgba(203, 23, 23, 1);
    color: #ffff;
    border: none;
    outline: none;
}

.input-Search::placeholder{
    color: #ffff;
}

.input-Search :focus{
    outline: none;
    border: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}


.btn-search{
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow:none !important;
}